[Unit]
Description=Status.im Bootnode Service

[Service]
Type=fork
Restart=on-failure
WatchdogSec=60s
WorkingDirectory=${DATA_PATH}
ExecStart=${GIT_ROOT}/build/bin/bootnode \
    -verbosity=${LOG_LEVEL} \
    -nodekey=${KEY_PATH} \
    -addr=:${LISTEN_PORT}

[Install]
WantedBy=default.target
