deepdiff~=5.5.0
jsonschema~=3.2.0
pytest~=7.0.0
requests~=2.31.0
genson~=1.2.2
websocket-client~=1.4.2
tenacity~=9.0.0
pytest-dependency~=0.6.0
docker~=7.1.0
pyright~=1.1.388
black~=24.10.0
pre-commit~=3.6.2
pytest-xdist~=3.6.1
pytest-rerunfailures==13.0
web3~=7.9.0
