#!/usr/bin/env groovy
// vim: ft=groovy
library 'status-jenkins-lib@v1.9.39'

pipeline {
  /* This way we run the same Jenkinsfile on different platforms. */
  agent { label "${params.AGENT_LABEL} && go-1.24" }

  parameters {
    string(
        name: 'BRANCH',
        defaultValue: 'develop',
        description: 'Name of branch to build.'
        )
      string(
          name: 'AGENT_LABEL',
          description: 'Label for targetted CI slave host.',
          defaultValue: params.AGENT_LABEL ?: jenkins.getAgentLabelFromJob(),
          )
      booleanParam(
          name: 'RELEASE',
          defaultValue: false,
          description: 'Enable to create build for release.',
          )
      booleanParam(
          name: 'USE_NWAKU',
          description: 'Whether to build with nwaku or not',
          defaultValue: params.USE_NWAKU ?: getNWakuMode(),
          )
  }

  options {
    timestamps()
      ansiColor('xterm')
      /* Prevent Jenkins jobs from running forever */
      timeout(time: 30, unit: 'MINUTES')
      disableConcurrentBuilds()
      disableRestartFromStage()
      /* manage how many builds we keep */
      buildDiscarder(logRotator(
        numToKeepStr: '5',
        daysToKeepStr: '30',
        artifactNumToKeepStr: '1',
        artifactDaysToKeepStr: '30',
      ))
  }

  environment {
    PLATFORM = "${getPlatformFromLabel()}/${params.USE_NWAKU ? 'nwaku' : 'status-go'}"
      TMPDIR   = "${WORKSPACE_TMP}"
      GOPATH   = "${WORKSPACE_TMP}/go"
      GOCACHE  = "${WORKSPACE_TMP}/gocache"
      PATH     = "${PATH}:${GOPATH}/bin:/c/Users/jenkins/go/bin"
      REPO_SRC = "${GOPATH}/src/github.com/status-im/status-go"
      VERSION  = sh(script: "./scripts/version.sh", returnStdout: true)
      ARTIFACT = utils.pkgFilename(
          name:    'status-go',
          type:    env.PLATFORM,
          version: env.VERSION,
          ext:     'zip',
          )
      /* prevent sharing cache dir across different jobs */
      GO_GENERATE_FAST_DIR = "${env.WORKSPACE_TMP}/go-generate-fast"
      /* Ensure env var is set on first run. */
      USE_NWAKU = "${params.USE_NWAKU}"
      /* nwaku source directory */
      NWAKU_SOURCE_DIR = "${WORKSPACE_TMP}/nwaku"

      /* fixes nim cache collision */
      XDG_CACHE_HOME = "${env.WORKSPACE_TMP}/.cache"
  }

  stages {
    stage('Setup') {
      when { expression { !env.PLATFORM.startsWith('windows') } }
      steps { script {
        sh "mkdir -p \$(dirname ${REPO_SRC})"
        sh "ln -s ${WORKSPACE} ${REPO_SRC}"
      } }
    }

    stage('Deps') {
      steps { script {
        shell('make status-go-deps')
      } }
    }

    stage('Generate') {
      steps { script {
        shell('make generate')
      } }
    }

    stage('Build Static Lib') {
      steps { script {
        shell('make statusgo-library')
      } }
    }

    stage('Build Shared Lib') {
      steps { script {
        shell('make statusgo-shared-library')
      } }
    }

    stage('Archive') {
      steps {
        zip zipFile: "${ARTIFACT}", archive: true, dir: 'build/bin'
      }
    }

    stage('Upload') {
      steps { script {
        env.PKG_URL = s5cmd.upload(ARTIFACT)
      } }
    }
  } // stages
  post {
    success { script { github.notifyPR(true) } }
    failure { script { github.notifyPR(false) } }
    cleanup {
      cleanWs()
      cleanTmp()
    }
  } // post
} // pipeline

/* This function extracts the platform from the AGENT_LABEL */
def getPlatformFromLabel(String label = params.AGENT_LABEL) {
  for (platform in ['linux', 'macos', 'windows']) {
    if (label.contains(platform)) {
      return platform
    }
  }
}

def shell(cmd) {
  if (env.PLATFORM.startsWith('windows')) {
    sh "${cmd} SHELL=/bin/sh"
  } else {
    nix.develop(cmd, pure: false) // Use nix.develop for Linux/macOS
  }
}

def cleanTmp() {
  /* Fails on windows due to Durable Task plugin failure. */
  if (env.PLATFORM.startsWith('windows')) {
    powershell "Remove-Item -Path '${env.WORKSPACE_TMP}' -Recurse -Force"
  } else {
    dir("${env.WORKSPACE}@tmp") { deleteDir() }
  }
}

/* We extract the name of the job from currentThread because
 * before an agent is picked env is not available. */
def getJobPathTokens() {
  return Thread.currentThread().getName().split('/')
}

def getNWakuMode() {
  return getJobPathTokens().any { it.contains('nwaku') }
}
