#!/usr/bin/env groovy
// vim: ft=groovy
library 'status-jenkins-lib@v1.9.39'

pipeline {
  /* This way we run the same Jenkinsfile on different platforms. */
  agent { label "${params.AGENT_LABEL} && go-1.24" }

  parameters {
    string(
      name: 'BRANCH',
      defaultValue: 'develop',
      description: 'Name of branch to build.'
    )
    string(
      name: 'AGENT_LABEL',
      description: 'Label for targetted CI slave host.',
      defaultValue: params.AGENT_LABEL ?: jenkins.getAgentLabelFromJob(),
    )
    booleanParam(
      name: 'RELEASE',
      defaultValue: false,
      description: 'Enable to create build for release.',
    )
  }

  options {
    timestamps()
    ansiColor('xterm')
    /* Prevent Jenkins jobs from running forever */
    timeout(time: 30, unit: 'MINUTES')
    disableConcurrentBuilds()
    disableRestartFromStage()
    /* manage how many builds we keep */
    buildDiscarder(logRotator(
      numToKeepStr: '5',
      daysToKeepStr: '30',
      artifactNumToKeepStr: '1',
      artifactDaysToKeepStr: '30',
    ))
  }

  environment {
    PLATFORM = "${getPlatformFromLabel()}/status-go"
    TMPDIR   = "${WORKSPACE_TMP}"
    GOPATH   = "${WORKSPACE_TMP}/go"
    GOBIN    = "${WORKSPACE_TMP}/go/bin"
    GOCACHE  = "${WORKSPACE_TMP}/gocache"
    PATH     = "${assembePath([env.GOBIN])}"
    REPO_SRC = "${GOPATH}/src/github.com/status-im/status-go"
    VERSION  = sh(script: "./scripts/version.sh", returnStdout: true)
    ARTIFACT = utils.pkgFilename(
      name:    'status-go',
      type:    env.PLATFORM,
      version: env.VERSION,
      ext:     'zip',
    )
    /* prevent sharing cache dir across different jobs */
    GO_GENERATE_FAST_DIR = "${env.WORKSPACE_TMP}/go-generate-fast"
    /* fixes nim cache collision*/
    XDG_CACHE_HOME = "${env.WORKSPACE_TMP}/.cache"
  }

  stages {
    stage('Setup') {
      when { expression { !env.PLATFORM.startsWith('windows') } }
      steps { script {
        sh "mkdir -p \$(dirname ${REPO_SRC})"
        sh "ln -s ${WORKSPACE} ${REPO_SRC}"
      } }
    }

    stage('Deps') {
      steps { script {
        make('status-go-deps V=2')
      } }
    }

    stage('Generate') {
      steps { script {
        make('generate V=2')
      } }
    }

    stage('Build Static Lib') {
      steps { script {
        make('statusgo-library V=2')
      } }
    }

    stage('Build Shared Lib') {
      steps { script {
        make('statusgo-shared-library V=2')
      } }
    }

    stage('Archive') {
      steps {
        zip zipFile: "${ARTIFACT}", archive: true, dir: 'build/bin'
      }
    }

    stage('Upload') {
      steps { script {
        env.PKG_URL = s5cmd.upload(ARTIFACT)
      } }
    }
  } // stages
  post {
    success { script { github.notifyPR(true) } }
    failure { script { github.notifyPR(false) } }
    cleanup {
      cleanWs()
      cleanTmp()
    }
  } // post
} // pipeline

/* Windows cannot be trusted to set PATH with correct order. */
def assembePath(List<String> extraPaths) {
  if (isUnix()) {
    return "${env.PATH}:${extraPaths.join(':')}"
  } else {
    /* WARNING: Remember to update versions in scripts/windows_build_setup.ps1 */
    def binPaths = [
      'C:/Windows/system32/WindowsPowerShell/v1.0',
      'C:/Windows/system32',
      'C:/Windows',
      'C:/ProgramData/scoop/apps/go/1.24.7/bin',
      'C:/ProgramData/scoop/apps/nim/2.2.6/bin',
      'C:/ProgramData/scoop/apps/cmake/3.31.6/bin',
      'C:/ProgramData/scoop/apps/python/3.13.5',
      'C:/ProgramData/scoop/apps/python/3.13.5/Scripts',
      'C:/ProgramData/scoop/apps/mingw-winlibs/15.2.0-13.0.0-r5/bin',
      'C:/ProgramData/scoop/apps/msys2/current/mingw64/bin',
      'C:/ProgramData/scoop/apps/msys2/current/mingw64/lib',
      'C:/ProgramData/scoop/apps/vcredist2022/14.44.35211.0',
      'C:/ProgramData/scoop/apps/openssl-lts/3.0.19/bin',
      'C:/ProgramData/scoop/apps/protobuf/3.20.1/bin',
      'C:/ProgramData/scoop/apps/inno-setup/6.7.0',
      'C:/ProgramData/scoop/apps/git/current/bin',
      'C:/ProgramData/scoop/shims',
      'C:/BuildTools/MSBuild/Current/Bin',
      'C:/BuildTools/VC/Auxiliary/Build',
      'C:/Program Files (x86)/Windows Kits/10/bin/10.0.26100.0/x64',
    ]
    binPaths.each { dir -> if (!fileExists(dir)) { error("Missing PATH directory: '${dir}'") } }
    /* These Git Bash paths can't be checked with fileExists(). */
    return (['/mingw64/bin', '/usr/bin', '/bin'] + binPaths + extraPaths).join(';')
  }
}

def make(target) {
  if (env.PLATFORM.startsWith('windows')) {
    bat """
      call "C:\\BuildTools\\VC\\Auxiliary\\Build\\vcvars64.bat"
      bash -c "make ${target} make=/bin/sh MINGW_PATH=C:/ProgramData/scoop/apps/msys2/current/mingw64"
    """
  } else { /* Use Nix for Linux/macOS. */
    nix.develop("make ${target}", pure: false)
  }
}

/* This function extracts the platform from the AGENT_LABEL */
def getPlatformFromLabel(String label = params.AGENT_LABEL) {
  for (platform in ['linux', 'macos', 'windows']) {
    if (label.contains(platform)) {
      return platform
    }
  }
}

def cleanTmp() {
  /* Fails on windows due to Durable Task plugin failure. */
  if (env.PLATFORM.startsWith('windows')) {
    powershell "Remove-Item -Path '${env.WORKSPACE_TMP}' -Recurse -Force"
  } else {
    dir("${env.WORKSPACE}@tmp") { deleteDir() }
  }
}

