[Unit]
Description=GetNode
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill geth
ExecStartPre=-/usr/bin/docker rm geth
ExecStartPre=/usr/bin/docker pull farazdagi/geth
ExecStart=/usr/bin/docker run --name geth -v /home/core/data:/root/.ethereum -p 30303:30303 farazdagi/geth --lightkdf --shh
ExecStop=/usr/bin/docker stop geth

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=size=2048
