[Unit]
Description=Status.im Mailserver Service

[Service]
Type=notify
Restart=on-failure
WatchdogSec=60s
WorkingDirectory=${DATA_PATH}
ExecStart=${GIT_ROOT}/build/bin/statusd \
    -log-without-color \
    -log "${LOG_LEVEL}" \
    -dir "${DATA_PATH}" \
    -c "${DATA_PATH}/config.json" \
    -metrics

[Install]
WantedBy=default.target
